{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <center><img id="inicio" src="https://i.ibb.co/q191GPg/Tomb-shoes.png" width="800" heigh="300" ></center>
    </head>
    <body>
        <div class="botao">
			<a href="{% url 'login'%}">Login</a>
			{% for category in categories %}
				<a href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
			{% endfor %}
			<form action= "{% url 'search' %}" method="get">
				<input name="q" type="text" placeholder="Pesquisa...">
				<input type="submit" value="Pesquisa">
			</form>
		</div>
		
		{% block content %}
		{% endblock %}
	</body>
</html>
<style>
    		body{
			color: #000000;
			background: FDF5E6;
			font-family: "Arial", sans-serif;
			}
			body{
			margin-left:	auto;
			margin-right:	auto;
			width: 1000px;
			}
			.botao {
			background-color: #FF8F4E;
			overflow: hidden;
			}
			.botao a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 20px;
			text-decoration: none;
			font-size: 15px;
			}
			.botao a:hover {
			background-color: #ddd;
			color: black;
			}
</style>