
    <div class="card border-light text-center">
        <div class="card-body">
            <h4 class="card-title">{{ post }}</h4>
            <p class="card-text">{{ post.decription }}</p>
            <p class="card-subtitle">Categoria: {{ post.category }}</p>
            <br>
            <a class="btn btn-info" href="{% url 'post-detail' post.pk %}">Ler mais</a>
        </div>
    </div>
