{% extends "blog/base.html" %}
{% block content %}
<center><h4>{{ object.title }}</h4></center>
    <div class="row">
    <div class=" card my-3 ml-3">
      <div class="card-body">
          <p>Author:
                {{ object.author }}
                {{ object.category }}
                {{ object.created_at }}
       </p>
       <img src="{{ object.banner.url }}" class="img-fluid">
       <p>{{ object.decription }}</p>
       <p>{{ object.text|safe }}</p>
       
      </div>
    </div>
  </div>
<hr class="mt-2">

<form method="POST" action="{% url 'comment' object.id %}">
		{% csrf_token %}
		<textarea name="text">
		</textarea>
		<input type="submit" value="Comentar">
	</form>

<hr>
{% endblock %}
